<%= s3_uploader_form post: posts_url,  
                     as: "post[photo_url]", 
                     acl: "public-read", 
                     max_file_size: 50.megabytes, 
                     id: "fileupload", 
                     class: "upload-form" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Enter title" %>
  </div>
  </br>
  <div class="field bootsy-text-area">
    <%= f.bootsy_area :body, size: "50x5", placeholder: "Enter post body"%>
  </div>
   <div class="field">

  </div>

  <br>
  <div class="actions">
    <%= f.submit class: 'btn btn-success'%>
  </div>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

