<div id="post-body" class="show">
  <div class="main-post row">
    <div class="categories row">
      <table>
       <tbody>
        <tr>
         <td  class="post-categories"><%= render @post.categories %></td>            
          <td class="post-edit">  
           <div class="dropdown">                                          
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-pencil-square-o"></i></a>
            <ul class="dropdown-menu" role="menu">
            <li><p class="edit-post"> <%= link_to "Edit", edit_post_path(@post) %></p></li>        
            <li>
             <p class="destroy-post"><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
             </p>
             </li>
             </ul> 
             </div>  
            </td>                
         </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
        <table class="profile">
        <tbody>
          <tr>
            <td><%= image_tag current_user.gravatar_url %></td>
            <td>
              <p class="name lobster">Isaac Agutey</p>
              <p class="time lobster">11:19 am</p>
            </td>
          </tr>
          </tbody>
        </table>
    </div><!-- gravatar tags and edit -->
          
    <div class="title row">
      <p class="lobster">
      <%= link_to @post.title.capitalize, @post, class:'post-title' %>
      </p>
    </div><!--  post title -->

    <div class="image-container row">
      <%= image_tag @post.photo_url(:thumb), class:'image'%>
    </div><!-- image row -->

    <div class="row">
    <div class="post-show-text-body"><%= @post.body.html_safe %></div>
    </div><!--  post text body -->
          
    <div class="c-s-l row">
      <div class="comment col-xs-4 col-md-4 col-sm-4 col-lg-4">
       <div class="dropdown" data-placement="left">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-placement="left">
          <p class="lobster"><i class="fa fa-comments"></i> Comment</p>
        </a>
        <ul class="comment dropdown-menu" role="menu">
          <li data-toggle="modal" data-target="#myModal">
          <div class="row">
          <table>
            <tbody>
              <tr>
                <td class="comment-gravatar">
                 <%= image_tag current_user.gravatar_url %>
                </td>
                <td class="lobster">
                Isaac Agutey
                </td>
              </tr>
              <tr>
              <td colspan="2">
              <%= render 'comments/commentform'%>
                </td>
              </tr>
            </tbody>
          </table>  
          </li>        
        </ul> 
      </div>
    </div>

    <div class="share col-xs-4 col-md-4 col-sm-4 col-lg-4"><p class="share lobster"><i class="fa fa-share-alt"></i> Share</p>
    </div>

    <div class="like col-xs-4 col-md-4 col-sm-4 col-lg-4"><p class="like lobster"><i class="fa fa-thumbs-up"></i> Like</p></div>
    </div><!-- like, comment, share -->
          
    <div class="comments-show row">        
       <div class="main-comment row">
          <table>
           <tbody id="<%=dom_id(@post)%>">
              <%= render @comment %>      
           </tbody>       
        </table>      
       </div><!--  main-comment-row -->
    </div><!--comments-show-row -->
  </div><!-- main-post row -->
</div>      